<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/dashboard}">My Account</a></li>
                        <li><a href="#" th:href="@{/about}">About</a></li>

                        <li>
                            <span sec:authorize="isAuthenticated()">
                            <!--Hello <span sec:authentication="name"></span>! -->
                            <a th:href="@{/logout}">Sign Out</a>
                            </span>
                        </li>
                        <!--/*<li><a href="#" th:href="@{/logout}">Logout</a></li> */-->
                    </ul>

                </div>
            </div>
        </nav>


    </div>
</div>
</body>
</html>