<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/includes :: head"></th:block> /*/--></head>
<body>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">

    <div class="jumbotron">
        <h1>Storify Inc!</h1>
        <p>Got ideas about improving the application, reach out to us. We appreciate your feedback!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></p>
    </div>

</div>
<!-- /.container -->


</body>
</html>